p
  img(height="200px" width="200px")


ul(class="vcard-details")
  li(class="location") City
  li(class="email")
    a user@example.com
  li(class="homepage")
    a(href="#") www.example.com
  li
    span(class="join-label") Joined on
    time(class="join-date") Date
